@model RecipeRecollection.Models.Recipe

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<br />
<br />
<h1 class="text-center fw-bold">Recipe Recollection</h1>
<br />
<h3 class="text-center">Makes working with online recipes a breeze!</h3>
<br />
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col form-floating mb-3">
            <input asp-for="Url" type="url" class="form-control bg-white" id="floatingInput" placeholder="URL">
            <label asp-for="Url" class="" for="floatingInput"><p class="text-black">Enter Recipe Url to be simpified</p></label>
            <span asp-validation-for="Url" class="text-danger"></span>
        </div>
        <input type="submit" value="Drain off all the excess juices" class=" fw-bold btn btn-primary" />
    </div>
</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}